.posts{
  display: flex;
  justify-content: space-between;
  @media (max-width: 991px) {
    flex-direction: column;
  }
  .posts__list{
    width: 70%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .sidebar{
    width: 25%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-top: 0;
  }
  .posts__items{
    display: flex;
    flex-direction: column-reverse;
    .posts__item{
      background: #fff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
      overflow: hidden;
      padding: 30px 40px;
      border-bottom: 1px dotted #e5e5e5;
      position: relative;
      z-index: 0;
      margin-bottom: 40px;
      display: flex;
      .posts__img{
        width: 30%;
        flex: none;
        background-size: cover;
        background-position: center;
        margin-right: 30px;
        transition: .3s;
        a{
          display: block;
          height: 100%;
        }
        &:hover{
          opacity: .75;
        }
      }
      .posts__wrap{
        h4{
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          color: #000;
          letter-spacing: 1px;
          position: relative;
          font-size: 25px;
          line-height: 35px;
          text-align: inherit;
          margin: 0 0 15px;
          transition: .3s;
          &:hover{
            color: #a0cc50;
          }
          a{
            text-decoration: none;
            color: inherit;
          }
        }
        .posts__description{
          margin: 0 0 15px;
          font-size: 16px;
          img{
            display: none;
          }
        }
      }
    }
  }
  .button{
    a{
      color: inherit;
      text-decoration: none;
    }
  }
}
.posts__info{
  display: flex;
  font-size: 14px;
  p{
    margin: 0 20px 0 0;
    a{
      color: inherit;
      text-decoration: none;
      transition: .3s;
      &:hover{
        color: #a0cc50;
      }
    }
    &::before{
      content: '\f007';
      font-family: "Font Awesome 5 Free";
      padding-right: 3px;
    }
  }
  time{
    margin-right: 20px;
    &::before{
      content: '\f073';
      font-family: "Font Awesome 5 Free";
      padding-right: 3px;
    }
  }
  span{
    &::before{
      content: '\f4ad';
      font-family: "Font Awesome 5 Free";
      padding-right: 3px;
    }
  }
}