.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  h1{
    margin: 0;
    a{
      text-decoration: none;
      transition: .3s;
      &:hover{
        color: brown;
      }
    }
  }
  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      margin-left: 10px;
      a, span{
        color: #000;
        text-decoration: none;
        transition: .3s;
        cursor: pointer;
        &:hover{
          color: brown;
        }
      }
    }
  }
}