.comments{
  margin-top: 40px;
  h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 100%;
    color: #000;
    position: relative;
    margin-top: 0;
    font-family: Oswald, Arial, sans-serif;
  }
  .comments__items{
    .comments__item{
      border: 1px solid #e5e5e5;
      margin-bottom: 15px;
      padding: 30px;
      border-radius: 5px;
      form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .MuiFormControl-root{
          margin-bottom: 20px;
        }
        .MuiInputLabel-outlined.MuiInputLabel-shrink{
          background: #fff;
          padding: 2px 5px;
        }
      }
      h4{
        margin-top: 0;
        border-bottom: 1px solid #e5e5e5;
      }
      p{
        margin: 0;
        font-size: 14px;
        line-height: 26px;
      }
      &[data-open="false"]{
        form{
          display: none;
        }
      }
      &[data-open="true"]{
        .comments__edit, p{
          display: none;
        }
      }
      .comments__edit{
        button:first-of-type{
          margin-right: 20px;
        }
      }
    }
    &.editing{

    }
  }
}